//	-*- x-counterpart: DebugSettings.xcconfig -*-

#include "SampleSharedLanguageModules.xcconfig"

//	any settings specific to release builds should go after this line ---

GCC_PREPROCESSOR_DEFINITIONS = qDebug=0
GCC_OPTIMIZATION_LEVEL = s

STRIP_INSTALLED_PRODUCT = YES
DEPLOYMENT_POSTPROCESSING = YES
